{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">

        <title>Activos Fijos</title>

        <meta name="description" content="AppUI is a Web App Bootstrap Admin Template created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="shortcut icon" href="{% static 'usuarios/img/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon57.png' %}" sizes="57x57">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon72.png' %}" sizes="72x72">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon76.png' %}" sizes="76x76">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon114.png' %}" sizes="114x114">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon120.png' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon144.png' %}" sizes="144x144">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon152.png' %}" sizes="152x152">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon180.png' %}" sizes="180x180">
        <link rel="stylesheet" href="{% static 'usuarios/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'usuarios/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'usuarios/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'usuarios/css/themes.css' %}">

        <script src="{% static 'usuarios/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
        <div id="page-wrapper" class="page-loading">
            <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
                <div id="sidebar-alt" tabindex="-1" aria-hidden="true">
                    <a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>
                </div>
                <div id="sidebar">
                    <div id="sidebar-brand" class="themed-background">
                        <a href="index.html" class="sidebar-title">
                            <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide">App<strong>UI</strong></span>
                        </a>
                    </div>
                    <div id="sidebar-scroll">
                        <div class="sidebar-content">
                            <!-- Sidebar Navigation -->
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="index.html" class=" active"><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
                                </li>
                                <li class="sidebar-separator">
                                    <i class="fa fa-ellipsis-h"></i>
                                </li>
                                <li>
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-rocket sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">User Interface</span></a>
                                    <ul>
                                        <li>
                                              <a href="{% url 'Createcliente' %}">Crear Clientes</a>
                                              <a href="{% url 'index' %}">Listar Clientes</a>
                                              <a href="{% url 'Createvehiculo' %}">Crear Vehívehiculos</a>
                                              <a href="{% url 'indexVehiculo' %}">Listar Vehículos</a>
                                              <a href="{% url 'Createclientevehiculo' %}">Crear Clientes Vehículos</a>
                                              <a href="{% url 'indexclienteVehiculo' %}">Listar Clientes Vehículos</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="main-container">

                    <header class="navbar navbar-inverse navbar-fixed-top">
                        <!-- Left Header Navigation -->
                        <ul class="nav navbar-nav-custom">
                            <!-- Main Sidex|bar Toggle Button -->
                            <li>
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                                    <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini"></i>
                                    <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
                                </a>
                            </li>
                            <li class="hidden-xs animation-fadeInQuick">
                                <a href=""><strong>Activos Fijos</strong></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav-custom pull-right">
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{% static 'usuarios/img/placeholders/avatars/avatar9.jpg' %}" alt="avatar">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="{% url 'logout' %}">
                                            <i class="fa fa-power-off fa-fw pull-right"></i>
                                            Salir
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </header>
                    <div id="page-content">
                      {% block contenido %}
                      {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-2.1.1.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="{% static 'usuarios/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'usuarios/js/plugins.js' %}"></script>
        <script src="{% static 'usuarios/js/app.js' %}"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'usuarios/js/pages/readyDashboard.js' %}"></script>
        <script>$(function(){ ReadyDashboard.init(); });</script>


    </body>
</html>
