{% extends 'usuarios/base.html' %}

{% block contenido %}
<h1>klkjlklkjlk</h1>
<form class="" action="" method="post">
  {% csrf_token %}
  {{form.as_p}}
<input type="submit" name="" value="crear">
</form>
{% endblock %}
