{% extends 'usuarios/base.html' %}

{% block contenido %}
<h1>Clientes Vehículos</h1>
<div class="block">
    <div class="table-responsive">
        <table id="general-table" class="table table-striped table-bordered table-vcenter">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Kilometros</th>
                    <th>Clientes</th>
                    <th>Vehículos</th>
                </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
                <tr>
                    <td><strong>{{cliente.matricula}}</strong></td>
                    <td>{{cliente.kilometros}}</td>
                    <td>{{cliente.vehiculo}}</td>
                    <td>{{cliente.cliente}}</td>

                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

    </body>
</html>
