{% extends 'usuarios/base.html' %}

{% block contenido %}
<h1>Clientes</h1>
<div class="block">
    <div class="table-responsive">
        <table id="general-table" class="table table-striped table-bordered table-vcenter">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Documento</th>
                </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
                <tr>
                    <td><strong>{{cliente.nombrecliente}}</strong></td>
                    <td>{{cliente.apellidoscliente}}</td>
                    <td>{{cliente.documento}}</td>
                    <td><a href="{% url 'Updatecliente' cliente.id %}">Editar</a></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

    </body>
</html>
