{% extends 'usuarios/base.html' %}

{% block contenido %}
<h1>Vehículos</h1>
<div class="block">
    <div class="table-responsive">
        <table id="general-table" class="table table-striped table-bordered table-vcenter">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
                <tr>
                    <td><strong>{{cliente.marca}}</strong></td>
                    <td>{{cliente.modelo}}</td>
                    <td><a href="{% url 'Updatevehiculo' cliente.id %}">Editar</a></td>
                    <td><a href="{% url 'Deletevehiculo' cliente.id %}">Eliminar</a></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

    </body>
</html>
