{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Login</title>

        <meta name="description" content="AppUI is a Web App Bootstrap Admin Template created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="shortcut icon" href="{% static 'usuarios/img/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon57.png' %}" sizes="57x57">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon72.png' %}" sizes="72x72">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon76.png' %}" sizes="76x76">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon114.png' %}" sizes="114x114">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon120.png' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon144.png' %}" sizes="144x144">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon152.png' %}" sizes="152x152">
        <link rel="apple-touch-icon" href="{% static 'usuarios/img/icon180.png' %}" sizes="180x180">

        <link rel="stylesheet" href="{% static 'usuarios/' %}css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'usuarios/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'usuarios/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'usuarios/css/themes.css' %}">

        <script src="{% static 'usuarios/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
        <!-- Login Container -->
        <div id="login-container">
            <!-- Login Header -->
            <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
                <i class="fa fa-cube"></i> <strong>Login</strong>
            </h1>
            <!-- END Login Header -->

            <!-- Login Block -->
            <div class="block animation-fadeInQuickInv">
                <!-- Login Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="page_ready_reminder.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Forgot your password?"><i class="fa fa-exclamation-circle"></i></a>
                        <a href="page_ready_register.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Create new account"><i class="fa fa-plus"></i></a>
                    </div>
                    <h2>Login</h2>
                </div>
                <!-- END Login Title -->

                <!-- Login Form -->
                <form id="form-login" action="" method="post" class="form-horizontal">
                  {% csrf_token %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" id="login-email" name="username" class="form-control" placeholder="Your email..">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="password" id="login-password" name="password" class="form-control" placeholder="Your password..">
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-4 text-right">
                            <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"><i class="fa fa-check"></i> Iniciar Sesión</button>
                        </div>
                    </div>
                </form>
                <!-- END Login Form -->
            </div>
            <!-- END Login Block -->

            <!-- Footer -->
            <footer class="text-muted text-center animation-pullUp">
                <small><span id="year-copy"></span> &copy; <a href="http://goo.gl/RcsdAh" target="_blank">AppUI 2.1</a></small>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Login Container -->

        <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-2.1.1.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="js/pages/readyLogin.js"></script>
        <script>$(function(){ ReadyLogin.init(); });</script>
    </body>
</html>
