{% extends 'usuarios/base.html' %}

{% block contenido %}
<form class="" action="" method="post">
  {% csrf_token %}
  <div class="form-group">
      <div class="col-xs-3">
          <input type="text" name="marca" class="form-control" value="{{ vehiculo.marca }}">
      </div>
  </div>
  <br><br><br>
  <div class="form-group">
      <div class="col-xs-3">
          <input type="text" name="modelo" class="form-control" value="{{ vehiculo.modelo }}">
      </div>
  </div>
  <br><br>
  <br><br><br>
  <div class="form-group form-actions">
    <div class="col-xs-2 text-right">
      <input type="submit" name="" value="Actualizar">
    </div>
  </div>
</form>
{% endblock %}
